a i {
    font-size: 40px !important;
}

nav li a {
    padding-left: 2px !important;
}
.jumbotron-fluid{
    height: 50vh;
    background-image: url(img/nils-nedel-ONpGBpns3cs-unsplash.jpg);
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    color:white;
    padding-top: 400px;
}
.crop-text-8 {
    -webkit-line-clamp: 4;
    overflow : hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
  }

  .card-img-top{
      height: 15vw;
      width: 100%;
      object-fit: cover;
  }